<a href=”/user/index”>List</a>
<h2>User #<%=model.fName %> Update form</h2>
<form action=”/user/update/<%=model.id %>” method=”POST”>
<table>

<tr><td>FirstName<td><input type=”text” name=”User[fName]” value=”<%=model.fName %>”><br/>

<tr><td>LastName<td><input type=”text” name=”User[lName]” value=”<%=model.lName %>”><br/>

<tr><td>DOB<td><input type=”text” name=”User[dob]” value=”<%=model.dob %>”><br/>

<tr><td>UserName<td><input type=”text” name=”User[userName]” value=”<%=model.userName %>”><br/>

<tr><td>Password<td><input type=”text” name=”User[password]” value=”<%=model.password %>”><br/>

<tr><td>Email<td><input type=”text” name=”User[email]” value=”<%=model.email %>”>
<tr ><td><td><input type=”submit” value=”SAVE”>
</form>