<a href=”/user/create”>+Create</a>|<a href=”/user/index”>List</a>|<a href=”/user/update/<%= model.id %>”>Update</a>

<h2>View <%=model.fName%></h2>
<ul>
<li>FirstName:<%=model.fName %></li>

<li>LastName:<%=model.lName %></li>

<li>DOB:<%=model.dob %></li>

<li>UserName:<%=model.userName %></li>

<li>Password:<%=model.password %></li>

<li>Email:<%=model.email %></li>
</ul>